// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
$gray-light-ec: #ececec;
$gray-light-b9: #b9b9b9;
$white: #fff;
$yellow-light: #ffd68f;
$pink-light: #ff6dd4;
$light-pink: #fceee7;
$light-pink-second: #fde8df;
$light-pink-third: #ffe9ea;
